.btn-primary {
    background-color: rgb(255, 123, 0) !important;
    border-color: rgb(255, 123, 0) !important;
}

.btn-primary:hover {
    background-color: rgb(170, 82, 0) !important;
    border-color: rgb(170, 82, 0) !important;
}

.bg-body-primary {
    background-color: rgb(255, 123, 0) !important;
}

.form-link {
    text-decoration: none;
    color: rgb(27, 27, 27);
}

.form-link:hover {
    color: rgb(255, 123, 0);
    transition: 0.25s;
}